./fundamentos/secao-06-JS6-e-testes-unitarios/dia-02-jest/node_modules
./fundamentos/secao-06-JS6-e-testes-unitarios/dia-02-jest/node_modules/p-locate/node_modules
./fundamentos/secao-06-JS6-e-testes-unitarios/dia-02-jest/node_modules/@babel/core/node_modules
./fundamentos/secao-06-JS6-e-testes-unitarios/dia-02-jest/node_modules/@babel/highlight/node_modules
./fundamentos/secao-06-JS6-e-testes-unitarios/dia-02-jest/node_modules/jest-worker/node_modules
./fundamentos/secao-06-JS6-e-testes-unitarios/dia-02-jest/node_modules/resolve/test/shadowed_core/node_modules
./fundamentos/secao-06-JS6-e-testes-unitarios/dia-02-jest/node_modules/resolve/test/resolver/symlinked/_/node_modules
./fundamentos/secao-06-JS6-e-testes-unitarios/dia-02-jest/node_modules/pretty-format/node_modules
./fundamentos/secao-06-JS6-e-testes-unitarios/dia-02-jest/node_modules/@jridgewell/trace-mapping/node_modules
./fundamentos/secao-06-JS6-e-testes-unitarios/dia-02-jest/node_modules/jest-validate/node_modules
./fundamentos/secao-06-JS6-e-testes-unitarios/dia-02-jest/node_modules/jest-snapshot/node_modules
./fundamentos/secao-06-JS6-e-testes-unitarios/dia-02-jest/node_modules/v8-to-istanbul/node_modules
./front-end/context-API-e-Custom-Hooks/exercise-custom-hooks/node_modules
./front-end/context-API-e-Custom-Hooks/exercise-custom-hooks/node_modules/@babel/generator/node_modules
./front-end/context-API-e-Custom-Hooks/exercise-custom-hooks/node_modules/resolve/test/shadowed_core/node_modules
./front-end/context-API-e-Custom-Hooks/exercise-custom-hooks/node_modules/resolve/test/resolver/symlinked/_/node_modules
./front-end/context-API-e-Custom-Hooks/applicant-manager-ts/node_modules
./front-end/context-API-e-Custom-Hooks/applicant-manager-ts/node_modules/@babel/code-frame/node_modules
./front-end/context-API-e-Custom-Hooks/applicant-manager-ts/node_modules/@babel/highlight/node_modules
./front-end/context-API-e-Custom-Hooks/applicant-manager-ts/node_modules/eslint-plugin-import/node_modules
./front-end/context-API-e-Custom-Hooks/applicant-manager-ts/node_modules/eslint-config-airbnb-base/node_modules
./front-end/context-API-e-Custom-Hooks/applicant-manager-ts/node_modules/string-width/node_modules
./front-end/context-API-e-Custom-Hooks/applicant-manager-ts/node_modules/stack-utils/node_modules
./front-end/context-API-e-Custom-Hooks/applicant-manager-ts/node_modules/eslint-import-resolver-node/node_modules
./front-end/context-API-e-Custom-Hooks/applicant-manager-ts/node_modules/resolve/test/shadowed_core/node_modules
./front-end/context-API-e-Custom-Hooks/applicant-manager-ts/node_modules/resolve/test/resolver/symlinked/_/node_modules
./front-end/context-API-e-Custom-Hooks/applicant-manager-ts/node_modules/eslint-plugin-jsx-a11y/node_modules
./front-end/context-API-e-Custom-Hooks/applicant-manager-ts/node_modules/@types/jest/node_modules
./front-end/context-API-e-Custom-Hooks/applicant-manager-ts/node_modules/jest-diff/node_modules
./front-end/context-API-e-Custom-Hooks/applicant-manager-ts/node_modules/pretty-format/node_modules
./front-end/context-API-e-Custom-Hooks/applicant-manager-ts/node_modules/@vitest/runner/node_modules
./front-end/context-API-e-Custom-Hooks/applicant-manager-ts/node_modules/jest-message-util/node_modules
./front-end/context-API-e-Custom-Hooks/applicant-manager-ts/node_modules/eslint-scope/node_modules
./front-end/context-API-e-Custom-Hooks/applicant-manager-ts/node_modules/@testing-library/jest-dom/node_modules
./front-end/context-API-e-Custom-Hooks/applicant-manager-ts/node_modules/jest-matcher-utils/node_modules
./front-end/context-API-e-Custom-Hooks/applicant-manager-ts/node_modules/eslint/node_modules
./front-end/context-API-e-Custom-Hooks/applicant-manager-ts/node_modules/eslint-plugin-react/node_modules
./front-end/context-API-e-Custom-Hooks/applicant-manager-ts/node_modules/eslint-plugin-react/node_modules/resolve/test/shadowed_core/node_modules
./front-end/context-API-e-Custom-Hooks/applicant-manager-ts/node_modules/eslint-plugin-react/node_modules/resolve/test/resolver/symlinked/_/node_modules
./front-end/context-API-e-Custom-Hooks/applicant-manager-ts/node_modules/eslint-module-utils/node_modules
./front-end/context-API-e-Custom-Hooks/applicant-manager-ts/node_modules/prop-types/node_modules
./front-end/context-API-e-Custom-Hooks/applicant-manager-ts/node_modules/fast-glob/node_modules
./front-end/aprofundando-no-react/dia-01/vite-project/node_modules
./front-end/aprofundando-no-react/dia-01/vite-project/node_modules/semver/node_modules
./front-end/aprofundando-no-react/dia-01/vite-project/node_modules/@babel/core/node_modules
./front-end/aprofundando-no-react/dia-01/vite-project/node_modules/@babel/helper-compilation-targets/node_modules
./front-end/aprofundando-no-react/dia-01/vite-project/node_modules/esquery/node_modules
./front-end/aprofundando-no-react/dia-01/vite-project/node_modules/@jridgewell/trace-mapping/node_modules
./front-end/aprofundando-no-react/dia-01/vite-project/node_modules/@eslint/eslintrc/node_modules
./front-end/aprofundando-no-react/dia-01/vite-project/node_modules/eslint/node_modules
./front-end/aprofundando-no-react/dia-01/vite-project/node_modules/esrecurse/node_modules
./front-end/aprofundando-no-react/dia-01/vite-project/node_modules/fast-glob/node_modules
./front-end/introducao-front-end-&-javascript-assincrono/dia-03/node_modules
./back-end/nodejs/dia-02/node_modules
./back-end/nodejs/dia-02/node_modules/eslint-plugin-import/node_modules
./back-end/nodejs/dia-02/node_modules/send/node_modules
./back-end/nodejs/dia-02/node_modules/string-width/node_modules
./back-end/nodejs/dia-02/node_modules/editorconfig/node_modules
./back-end/nodejs/dia-02/node_modules/table/node_modules
./back-end/nodejs/dia-02/node_modules/eslint-import-resolver-node/node_modules
./back-end/nodejs/dia-02/node_modules/inquirer/node_modules
./back-end/nodejs/dia-02/node_modules/resolve/test/shadowed_core/node_modules
./back-end/nodejs/dia-02/node_modules/resolve/test/resolver/symlinked/_/node_modules
./back-end/nodejs/dia-02/node_modules/cross-spawn/node_modules
./back-end/nodejs/dia-02/node_modules/@typescript-eslint/type-utils/node_modules
./back-end/nodejs/dia-02/node_modules/@typescript-eslint/parser/node_modules
./back-end/nodejs/dia-02/node_modules/@typescript-eslint/visitor-keys/node_modules
./back-end/nodejs/dia-02/node_modules/@typescript-eslint/eslint-plugin/node_modules
./back-end/nodejs/dia-02/node_modules/@typescript-eslint/typescript-estree/node_modules
./back-end/nodejs/dia-02/node_modules/@typescript-eslint/utils/node_modules
./back-end/nodejs/dia-02/node_modules/simple-update-notifier/node_modules
./back-end/nodejs/dia-02/node_modules/@eslint-community/eslint-utils/node_modules
./back-end/nodejs/dia-02/node_modules/nodemon/node_modules
./back-end/nodejs/dia-02/node_modules/slice-ansi/node_modules
./back-end/nodejs/dia-02/node_modules/eslint-scope/node_modules
./back-end/nodejs/dia-02/node_modules/@eslint/eslintrc/node_modules
./back-end/nodejs/dia-02/node_modules/eslint/node_modules
./back-end/nodejs/dia-02/node_modules/globby/node_modules
./back-end/nodejs/dia-02/node_modules/eslint-plugin-react/node_modules
./back-end/nodejs/dia-02/node_modules/eslint-plugin-react/node_modules/resolve/test/shadowed_core/node_modules
./back-end/nodejs/dia-02/node_modules/eslint-plugin-react/node_modules/resolve/test/resolver/symlinked/_/node_modules
./back-end/nodejs/dia-02/node_modules/ansi-escapes/node_modules
./back-end/nodejs/dia-02/node_modules/@humanwhocodes/config-array/node_modules
./back-end/nodejs/dia-02/node_modules/eslint-plugin-editorconfig/node_modules
./back-end/nodejs/dia-02/node_modules/eslint-module-utils/node_modules
./back-end/nodejs/dia-01/node_modules
./back-end/nodejs/dia-08/exercise-sequelize-associations/node_modules
./back-end/nodejs/dia-08/exercise-sequelize-associations/node_modules/express/node_modules
./back-end/nodejs/dia-08/exercise-sequelize-associations/node_modules/eslint-plugin-import/node_modules
./back-end/nodejs/dia-08/exercise-sequelize-associations/node_modules/send/node_modules
./back-end/nodejs/dia-08/exercise-sequelize-associations/node_modules/send/node_modules/debug/node_modules
./back-end/nodejs/dia-08/exercise-sequelize-associations/node_modules/sequelize/node_modules
./back-end/nodejs/dia-08/exercise-sequelize-associations/node_modules/string-width/node_modules
./back-end/nodejs/dia-08/exercise-sequelize-associations/node_modules/js-beautify/node_modules
./back-end/nodejs/dia-08/exercise-sequelize-associations/node_modules/editorconfig/node_modules
./back-end/nodejs/dia-08/exercise-sequelize-associations/node_modules/yargs/node_modules
./back-end/nodejs/dia-08/exercise-sequelize-associations/node_modules/eslint-import-resolver-node/node_modules
./back-end/nodejs/dia-08/exercise-sequelize-associations/node_modules/cliui/node_modules
./back-end/nodejs/dia-08/exercise-sequelize-associations/node_modules/resolve/test/shadowed_core/node_modules
./back-end/nodejs/dia-08/exercise-sequelize-associations/node_modules/resolve/test/resolver/symlinked/_/node_modules
./back-end/nodejs/dia-08/exercise-sequelize-associations/node_modules/wrap-ansi/node_modules
./back-end/nodejs/dia-08/exercise-sequelize-associations/node_modules/touch/node_modules
./back-end/nodejs/dia-08/exercise-sequelize-associations/node_modules/chokidar/node_modules
./back-end/nodejs/dia-08/exercise-sequelize-associations/node_modules/mysql2/node_modules
./back-end/nodejs/dia-08/exercise-sequelize-associations/node_modules/simple-update-notifier/node_modules
./back-end/nodejs/dia-08/exercise-sequelize-associations/node_modules/nodemon/node_modules
./back-end/nodejs/dia-08/exercise-sequelize-associations/node_modules/named-placeholders/node_modules
./back-end/nodejs/dia-08/exercise-sequelize-associations/node_modules/ext/node_modules
./back-end/nodejs/dia-08/exercise-sequelize-associations/node_modules/strip-ansi/node_modules
./back-end/nodejs/dia-08/exercise-sequelize-associations/node_modules/finalhandler/node_modules
./back-end/nodejs/dia-08/exercise-sequelize-associations/node_modules/eslint-plugin-react/node_modules
./back-end/nodejs/dia-08/exercise-sequelize-associations/node_modules/eslint-plugin-react/node_modules/resolve/test/shadowed_core/node_modules
./back-end/nodejs/dia-08/exercise-sequelize-associations/node_modules/eslint-plugin-react/node_modules/resolve/test/resolver/symlinked/_/node_modules
./back-end/nodejs/dia-08/exercise-sequelize-associations/node_modules/body-parser/node_modules
./back-end/nodejs/dia-08/exercise-sequelize-associations/node_modules/eslint-utils/node_modules
./back-end/nodejs/dia-08/exercise-sequelize-associations/node_modules/eslint-module-utils/node_modules
