ol {
    background-color: yellow;
}

.par {
    color: green;
}

.impar {
    text-transform: uppercase;
}

h1,
h3 {
    color: red;
}

h1 em {
    font-size: 40px;
    border: 1px solid black;
}

li {
    font-size: 20px;

}

li em {
    font-weight: bold;
}

.azul {
    color: blue;
}

.java {
    background-color: pink;
}

ul li:hover {
    font-weight: bold;
}

#stack:hover {
    color: orange;
}

#w3s:hover {
    color: green
}

#mdn:hover {
    color: black:
}

#devdoc:hover {
    color: yellow;
}

#tryb:hover {
    color: green;
}